body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000;
}

.vcard {
  max-width: 500px;
  padding: 20px;
  /*background-color: #fff;*/
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
  /* background: linear-gradient(to top, #f5f4f4, #464646); */
  /* background: radial-gradient(circle at 10% 20%, rgb(222, 168, 248) 0%, rgb(168, 222, 248) 21.8%, rgb(189, 250, 205) 35.6%, rgb(243, 250, 189) 52.9%, rgb(250, 227, 189) 66.8%, rgb(248, 172, 172) 90%, rgb(254, 211, 252) 99.7%); */
  background: radial-gradient(circle, #000000, #2e2e2e);
  color: #fff;
  border-radius: 5px;
}

.vcard h1 {
  text-align: center;
  color: #ffffff;
}

.vcard p {
  color: #666;
  line-height: 1.6;
}

.vcard a {
  color: #3498db;
  text-decoration: none;
}

.vcard a:hover {
  text-decoration: underline;
}

.vcard a[href*="facebook.com"] i {
  color: #3b5998; /* Color de Facebook */
}

.vcard a[href*="twitter.com"] i {
  color: #1da1f2; /* Color de Twitter */
}

.vcard a[href*="instagram.com"] i {
  color: #C13584; /* Color de Instagram */
}

.vcard a[href*="wa.me"] i {
  color: #25D366; /* Color de WhatsApp */
}

.vcard a[href*="x.com"] i {
  color: #000000; /* Color de X, reemplaza #FF0000 con el color de marca correcto */
}

.vcard a[href*="github.com"] i {
  color: #181717; /* Color de GitHub */
}

.vcard a[href*="linkedin.com"] i {
  color: #0A66C2; /* Color de LinkedIn */
}

.social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #d9dbc8;
  border-radius: 10px;
}

.social-links a {
  margin: 10px;
}

img{
  margin-right: 10px; width: 100px; height: 100px; border-radius: 50%;
}